@model SiteReceitas.Models.Receita

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Receita</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeReceita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeReceita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModoPreparo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModoPreparo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingrediente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingrediente.NomeIngrediente)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
