@model IEnumerable<SiteReceitas.Models.Receita>

@{
    ViewData["Title"] = "Index";
}

<h1>Receitas</h1>

@if(User.IsInRole("Autor"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Criar Receita</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeReceita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoPreparo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingrediente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                 <td>
                    @if (item.Imagem != null && item.Imagem.Length > 0) {
                          <img src="data:image;base64,@Convert.ToBase64String(item.Imagem)" alt="Imagem da Receita" />
                     } else {
                          <span>Sem imagem</span>
                      }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeReceita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModoPreparo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingrediente.NomeIngrediente)
                </td>
                @if(User.IsInRole("Autor"))
                {
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a> 
                    </td>
                }
            </tr>
    }
    </tbody>
</table>
