@model SiteReceitas.Models.Ingrediente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes Ingrediente</h1>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeIngrediente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeIngrediente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receita.NomeReceita)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a> |
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
