@model IEnumerable<SiteReceitas.Models.Ingrediente>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredientes</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar Ingrediente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeMedida)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Receita.NomeReceita)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
